html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  // margin: 0 0 $small-spacing;
}

p {
  // margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

/* Housekeeping */
*{ margin:0; padding:0; }

/* Common margin-bottom for vertical rhythm. */
// h1,h2,h3,h4,h5,h6,
// ul,ol,dl,
// fieldset,
// p,
// table,
// pre,
// hr{
//     margin-bottom:24px;
//     margin-bottom:1.5rem;
// }

/* These handle massive type, for less frequently occuring bits of text (e.g. in mastheads and banners). */
.giga{
    font-size:80px;
    font-size:5rem;     /* 80px */
    line-height:1.2;    /* 96px */
}
.mega{
    font-size:64px;
    font-size:4rem;     /* 64px */
    line-height:1.125;  /* 72px */
}
.kilo{
    font-size:48px;
    font-size:3rem;     /* 48px */
    line-height:1;      /* 48px */
}

/* Define headings and their associated classes here. */
h1,.alpha{
    font-size:32px;
    // font-size:2rem;     /* 32px */
    // line-height:1.5;    /* 48px */
}
h2,.beta{
    font-size:1.5em;    /* 24px */
    line-height:1;      /* 24px */
}
h3,.gamma{
    font-size:20px;
    font-size:1.25rem;  /* 20px */
    line-height:1.2;    /* 24px */
}
h4,.delta{
    font-size:18px;
    font-size:1.125rem; /* 18px */
    line-height:1.333;  /* 24px */
}
h5,.epsilon{
    font-size:16px;
    font-size:1rem;     /* 16px */
    line-height:1.5;    /* 24px */
}
h6,.zeta{
    font-size:16px;
    font-size:1rem;     /* 16px */
    line-height:1.5;    /* 24px */
}

/* Smaller-than-body-copy sizes here. */
small,.milli {
    font-size:12px;
    font-size:0.75rem;  /* 12px */
    line-height:2;      /* 24px */
}
